/*index.css*/

/*
	CSS Rules

	selector {
		property: value;
	}

	or

	selector {property: value;}
*/

/*
CSS Specifity Rules

	id
	class 
	tag
	universal

	Inline styles - Example: <h1 style="color: pink;">
	IDs - Example: #navbar
	Classes, pseudo-classes, attribute selectors - Example: .test, :hover, [href]
	Elements and pseudo-elements - Example: h1, :before

*/



/*Type Selector*/


/*tag name - specified tag*/


	/*
	!important property has the highest prio
	rem - root element size, 1 rem = 16px
	*/

	h1 {
		color: darkkhaki; !important;
		text-align: center;
		font-size: 3rem;
	}

/*universal selector*/

 	/*
 	targets all elements
	font-family is the style with primary font and secondary font
	*/

	* {
		font-family: "Courier New", monospace;
		font-size: 20px;
	}

/*id selector*/

	#zuitt-motto {letter-spacing: 5px;}


	h3 {
		letter-spacing: 25px;
	}


/*class selector*/

	.offering-item {
		text-transform: uppercase;
	}


/*attribute selector - tagname[attribute]*/
	
	input[required]{
		border-width: 2px;
		border-style: solid;
		border-color: navy;
	}

/*combinator selector*/

	/*
	adjacent sibling selector
	selector + selector
	*/

	h3 + img {
		height: 200px;
		width: 200px;
		border-radius: 150px;
	}

	/*
	descendant selector
	selector selector	
	*/

	#bootcamp-learning-list li {
		color: #075966;
	}

	/*
	general sibling selector
	selector - selector
	*/

	h2 ~ a {
		text-decoration: none;
	}

	/*
	child selector
	selector > selector
	*/

	body > section > form > label {
		color: rgb(0, 0, 128);
	}



/*more styling*/

body {
	background-color: cadetblue;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: whitesmoke;
}

a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

/*landing section with viewport height*/

section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

/*register section*/

form {
	text-align: center;
	background-color: floralwhite;
	border: 2px solid black;
	height: 230px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #5256A5;
	color: white;
	border: 1;
	border-radius: 12px;
}