/*index.css*/


/*1. paragraph tag using tag selector*/

	p {
		color: crimson;
	}



/*2. universal selector*/

	* {
		font-family: "Verdana", sans-serif;
		font-size: 15px;
	}



/*3. tag selector*/

	h1 {
		font-size: 3rem;
	}



/*4. id selector*/

	#h2-upper {
		text-transform: uppercase ;
	}



/*5. class selector*/

	.languages {
		background-color: #D5C3D5;
	}



/*6. class selector*/

	.tools {
		border: 2px solid peachpuff;
	}



/*7. adjacent sibling selector*/

	img + ul {
		list-style-type: none;
		letter-spacing: 3px;
	}



/*8. descendant selector*/

	section img {
		height: 150px;
		width: 150px;
		border-radius: 100px;
	}



/*9. generic sibling selector*/

	h4 ~ p {
		text-align: center;
		color: chocolate;
	}



/*10. child selector */

	section > h4 {
		letter-spacing: 6px;
	}
